h1{
  margin: 1em;
  padding: 0;
}

div {border:1px solid red;
margin: 0;
padding:0;}
.top{
  margin:auto;
  display: grid;
background-color: lightgoldenrodyellow;
width:960px;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;}

.coloredcells{
  background-color: lightsalmon;
  /* grid-row: 1/4;
  grid-column: 1/4; */
  grid-area:1/1/4/4;
  
  z-index: 1;
}
.whitecells{
  background-color: white;
  /* grid-row: 3/5;
  grid-column: 2/3; */
  grid-area:3/2/5/3;
  z-index: 2;

}
p{padding: .5em;}