* {
  margin: 0px;
  padding: 0px;
  // border: 1px solid red;
}
body {
  background-color: gray;
  margin-top: 20px;
}
.container {
  background-color: linen;
  width: 960px;
  margin: auto;
  border-radius: 10px;
}

div {
  margin: 5px 25px;
  padding: 0px;
}

h2 {
  text-align: center;
}
div.clearfix {
  clear: both;
  margin: 0px;
  padding: 0px;
}
.fa-hand-pointer-o {
  color: red;
}

.details,

img {
  margin: 0px;
}

details,
p {
  margin: 10px 30px;
}

div.flexcont {
  display: flex;
  justify-content: space-around;
}

div.kittenpens {
  // height: 200px;
  width: 30%;
  margin: 0px;
  padding: 0px;
  // display:inline-block;
  // width:1000px;
}

.photo {
  //  border:solid 1px black;
  margin: auto;
  padding: 0px;
  display:flex;
  justify-content: center;
  align-items: center;
  img{
    display:block;
    height:auto;
    margin:auto;
    padding:15px;
  }
  // width:150px;
}
footer {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid gray;
}
@import 'checkbutton','toggleswitch','top';
