* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: gray;
  margin-top: 20px;
}

.container {
  background-color: linen;
  width: 960px;
  margin: auto;
  border-radius: 25px;
}

.toptop {
  height: 25px;
  background-color: lightsalmon;
  margin: 0px;
  padding: 0;
  border-radius: 25px 25px 0 0;
}

div {
  margin: 5px 25px;
  padding: 0px;
}

h2 {
  text-align: center;
}

div.clearfix {
  clear: both;
  margin: 0px;
  padding: 0px;
}

.fa-hand-pointer-o {
  color: red;
}

.details,
img {
  margin: 0px;
}

details,
p {
  margin: 10px 30px;
}

div.flexcont {
  display: flex;
  justify-content: space-around;
}

div.kittenpens {
  width: 30%;
  margin: 0px;
  padding: 0px;
}

.photo {
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  display: block;
  height: auto;
  margin: auto;
  padding: 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid gray;
  height: 2em;
  background-color: lightsalmon;
  border-radius: 0 0 25px 25px;
}

footer div {
  margin: 0 2em 0 2em;
}

.cbox {
  border-top: 4px solid gray;
  margin: 0px;
}

.cbox input[type='checkbox'] {
  display: none;
}

.cbox input[type='checkbox'] + label.kit {
  display: inline-block;
  height: 50px;
  width: 150px;
  margin: auto;
  background-color: #fab093;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: solid 2px red;
  border-radius: 20px;
  box-shadow: 5px 3px gray;
}

.cbox input[type='checkbox'] + label.kit:hover {
  background-color: whitesmoke;
  font-weight: bold;
}

.cbox input[type='checkbox'] ~ div {
  display: none;
}

.cbox input[type='checkbox']:checked + label.kit {
  background-color: lightskyblue;
  transform: translateY(4px);
}

.cbox input[type='checkbox']:checked + label.kit:hover {
  background-color: whitesmoke;
  font-weight: bold;
}

.cbox input[type='checkbox']:checked ~ div {
  display: block;
  transform: translateY(4px);
}

.w3schools {
  /* Hide the checked box - only used for it's 'checked' property */
  /* The background of the toggle */
}

.w3schools .toggle__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.w3schools .toggle__text-label {
  color: #ff4d62;
  font-weight: bold;
  margin-right: 0.75rem;
}

.w3schools .toggle__text-label:hover {
  cursor: pointer;
}

.w3schools .toggle__input {
  display: none;
}

.w3schools .toggle__track {
  align-items: center;
  display: flex;
  height: 100%;
}

.w3schools .toggle__track:before,
.w3schools .toggle__track:after {
  color: #ccc;
  content: "Off";
  display: block;
  position: absolute;
  right: 1rem;
  text-shadow: 0 1px 1px #ffffff;
  transition: all 0.3s ease-in;
  z-index: 9;
}

.w3schools .toggle__track:before {
  color: #ffffff;
  content: "On";
  left: 1rem;
  text-shadow: none;
}

.w3schools .toggle__input:checked ~ .toggle:before {
  left: 3.35rem;
}

.w3schools .toggle__input:checked ~ .toggle {
  background-color: #3fc380;
}

.w3schools .toggle:before {
  background-color: #ffffff;
  border: 1px solid #ff4d62;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  left: 0.15rem;
  height: 2.3rem;
  position: absolute;
  width: 2.3rem;
  transition: 0.3s cubic-bezier(0.54, 1.7, 0.5, 1);
  z-index: 10;
}

.w3schools .toggle {
  background-color: #f1f1f1;
  border-radius: 1.25rem;
  box-shadow: inset 0 0.15rem 0.25rem rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  display: block;
  height: 2.3rem;
  padding: 0.15rem;
  position: relative;
  transition: background-color 0.3s ease-in;
  transition-delay: 0.1s;
  width: 5.5rem;
}

.w3schools .toggle:hover {
  cursor: pointer;
}

.w3schools .toggle__input:checked ~ .toggle .toggle__track:after {
  color: #ffffff;
  text-shadow: none;
}

h1 {
  margin: 0 0 0 25px;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

header {
  padding: 0;
}

.top {
  margin-bottom: 20px;
  display: grid;
  background-color: lightsalmon;
  width: 960px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 0fr 1fr 1fr;
}

.coloredcells {
  background-color: lightsalmon;
  /* grid-row: 1/4;
  grid-column: 1/4; */
  grid-area: 1/1/5/4;
  border-radius: 25px 25px 0 0;
  z-index: 1;
}

.whitecells {
  background-color: white;
  /* grid-row: 3/5;
  grid-column: 2/3; */
  grid-area: 3/2/5/3;
  border-radius: 20px 20px 0px 0px;
  z-index: 2;
}

p {
  padding: 0.5em;
}
/*# sourceMappingURL=style.css.map */